{% extends 'layout.html' %}

{% block body %}

<!-- Page Header -->
<header class="masthead"
    style="background-image: url('{{ url_for('static', filename='assets/img/ibm_business_image.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Sign Up</h1>
                    <span class="subheading">Create your account to get started</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-6 col-lg-5">

                <form method="POST" action="/signin">


                    <!-- Email -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" name="email" type="email" placeholder="Enter your email"
                            required>
                        <label for="email">Email Address</label>
                    </div>

                    <!-- Password -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="password" name="password" type="password"
                            placeholder="Enter your password" required>
                        <label for="password">Password</label>
                    </div>




                    <!-- Submit Button -->
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg" type="submit">Sign In</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</main>

{% endblock %}